body{
	background-image: url("background.jpg");
	background-repeat: repeat-x;
	font-family:Verdana;font-size:0.8em;
}
header{
    background-color:white;
    margin-bottom:5px;
    border: 3px solid black;
}
footer{
    border:1px solid grey;
    margin:5px;
    margin-bottom:15px;
    padding:8px;
    background-color:white; 
}
section,article{
	margin:5px;margin-bottom:5px;padding:8px;
    background-color:white;
    border: 2px dotted black
}
nav{
    margin:2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
li a:hover {
    background-color: #111;
}